.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 4rem;
  padding: 3rem 5rem;
  background-color: #f9f9f9;
}

@media (min-width: 1200px) {
  .book-list {
    grid-template-columns: repeat(4, 1fr); 
  }
}

@media (max-width: 1024px) {
  .book-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .book-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .book-list {
    grid-template-columns: 1fr;
  }
}